@()

@main("GeoLocator") {
@defining(play.core.PlayVersion.current) { version =>

<section id="tabs">
  <div class="wrapper">
      <section id=links class="links">
        <div class="tabContainer">
            <div class="buttonContainer">
                <button onclick="location.href='business'">Business</button>
                <button onclick="">Some Other Area</button>
            </div>
        </div>
    </section>
  </div>
</section>
<script src="..\..\public\javascripts\main.js" />
}
}